<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.quill.springdemo.cyclebean.InitMethodEarth" id="Earth"
          init-method="init" destroy-method="destroy" >
        <property name="desc" value="a great start"></property>
    </bean>

    <bean class="com.quill.springdemo.cyclebean.InitBeanMars" id="Mars">
        <property name="something" value="go to Mars"></property>
    </bean>

    <bean class="com.quill.springdemo.cyclebean.BeanPostProcessorMercury" id="Mercury">
    </bean>
</beans>