<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.quill.springdemo.p3.dibean.TextEditor" id="textEditor">
        <constructor-arg ref="spellChecker"></constructor-arg>
    </bean>

    <bean class="com.quill.springdemo.p3.dibean.SpellChecker" id="spellChecker">
        <property name="serial" value="3.1415926"></property>
    </bean>

    <bean class="com.quill.springdemo.p3.dibean.Cup" id="cup">
        <property name="drink" ref="juice"></property>
    </bean>

    <bean class="com.quill.springdemo.p3.dibean.Juice" id="juice"></bean>

    <bean class="com.quill.springdemo.p3.dibean.Cup" id="cup2">
        <property name="drink">
            <bean class="com.quill.springdemo.p3.dibean.Tea" id="tea"></bean>
        </property>
    </bean>
</beans>